
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results/
/allure-report/
/my-allure-results/
/.idea/
.vscode/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
coverage/
results.json
results.xml
/tests/screenshots/*
/tests/uploadFiles/